/*BUTIKKER*/

body {
}

.butikk-container{
    padding-bottom: 150px;
}

.store{
    width: 100%;
    height: auto;
    background-color: rgb(103, 65, 114);
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.store:hover{
    transition: 0.4s ease all;
    background-color: rgb(145, 61, 136);
}

.store-link{
    text-decoration: none !important;
}

.store img{
    height: 300px;
    width: 100%;
}

.view-container{
    padding-top: 60px;
    padding-bottom: 60px;
}