/*index*/
.article-wrapper{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-wrapper:hover {
    background-color: #eee;
    color: rgb(226, 226, 226);
    cursor: pointer;
}

.title-section{
    color: rgb(71, 71, 71);
}

.image-section img{
    height: 300px;
    width: 100%;
}

.pushDown{
    padding-top: 20px;
    padding-bottom: 150px;
}

.article-section{
    width: 70%;
    height: auto;
    float: left;
}

.sidebar-section{
    width: 25%;
    height: auto;
    float: left;
    margin: 9px 0px 0px 5%;
    background-color: rgb(236, 236, 236);
}

.sidebar-section .sidebar-header{
    width: 100%;
    height: auto;
    background-color: rgb(82, 179, 217);
    color: rgb(246, 246, 246);
    box-sizing: border-box;
}

.sidebar-section .lead{
    margin-bottom: 0px;
}

.sidebar-section .sidebar-header p {
    padding: 10px;
}

.sidebar-section .sidebar-body p{
    padding: 10px;
}

.sidebar-section .sidebar-body{
    padding-bottom: 30px;
}

.sidebar-section .sidebar-body-section{
    /*inside the body section*/
    width: 100%;
    height: auto;

}

.sidebar-body-section .fb-page{
    width: 100%;
}

.sidebar-body-section .fb-page span{
    width: 100% !important;
    height: 500px !important;
}

.sidebar-body-section .fb-page span iframe{
    width: 100% !important;
}

.front-page-container{
    padding-top: 80px;
}


/*carousel*/
.carousel-wrap {
    width: 100%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
}

#slideshow { 
    position: relative; 
    width: 100%; 
    height: 350px; 
}

#slideshow > div { 
    position: absolute; 
}

#slideshow img{
    width: 1140px;
}