/*index*/
.article-wrapper{
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px; 
}

.article-wrapper:hover {
    color: rgb(226, 226, 226);
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

.title-section{
    color: rgb(71, 71, 71);
}

.the-image img{
    width: 100%;
    height: 300px;
}

.image-section img{

}

.pushDown{
    padding-top: 20px;
    padding-bottom: 150px;
}

.article-section{
    width: 65%;
    height: auto;
    float: left;
}

.sidebar-section{
    width: 30%;
    height: auto;
    float: left;
    margin: 0px 0px 0px 5%;
    background-color: rgb(236, 236, 236);
}

.sidebar-section .sidebar-header{
    width: 100%;
    height: auto;
    background-color: rgb(236, 236, 236);
    color: rgb(71, 71, 71);
    box-sizing: border-box;
    border-bottom: 2px solid rgb(71, 71, 71);
}

.sidebar-section .lead{
    margin-bottom: 0px;
}

.sidebar-section .sidebar-header p {
    padding: 10px;
}

.sidebar-section .sidebar-body p{
    padding: 10px;
}

.sidebar-section .sidebar-body{
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

.sidebar-section .sidebar-body-section{
    /*inside the body section*/
    width: 100%;
    height: auto;
    background-color: rgb(238, 238, 238);
}

.sidebar-body-section .fb-page{
    width: 100%;
}

.sidebar-body-section .fb-page span{
    width: 100% !important;
    height: 500px !important;
}

.sidebar-body-section .fb-page span iframe{
    width: 100% !important;
}

.front-page-container{
    padding-top: 20px;
}


/*carousel*/
.carousel-wrap {
    width: 100%;
    height: auto;
    background-color: rgb(236, 236, 236);
    padding-top: 20px;
}

#slideshow { 
    position: relative; 
    width: 100%; 
    height: 460px; 
}

#slideshow > div { 
    position: absolute; 
}

#slideshow img{
    width: 1140px;
}