/*BUTIKKER*/

.butikk-container{
    padding-bottom: 150px;
}

.view-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.store-list{
    padding: 0px;
    list-style: none;
}

.store-list li a{
    
}