body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 150px;
}


.header-wrap{
    width: 100%;
    height: 100px;
    background-color: rgb(71, 71, 71);
}

.user-logged-in{
    position: relative;
    top: 40px;
    list-style: none;
    padding: 0px;
}

.user-logged-in li a{
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.dropdown-menu{
    border-radius: 0px !important;
}

.dropdown-toggle{
    font-size: 1.3em;
    color: rgb(191, 191, 191) !important;
}

.menu-button-mobile{
    display: none !important;
    color: rgb(191, 191, 191);
}

.menu-wrap{
    width: 100%;
    height: 50px;
    background-color: rgb(81, 81, 81);
}

.admin-navigation{
    display: block;
    list-style: none;
    padding: 0px;
}

.admin-navigation li{
    float: left;
}

.admin-navigation li a{
    padding: 15px;
    text-decoration: none;
    display: block;
    color: rgb(191, 191, 191);
}

.admin-navigation li a:hover{
    background-color: rgb(71, 71, 71);
}

.logo{
    color: rgb(191, 191, 191);  
    position: relative;
    top: 15px;
}

.logo span{
    color: rgb(210, 77, 87);
}

.added{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}

.publish-loading{
    position: relative;
    top: 100px;
}