
.login-wrap{
    width: 100%;
    height: 100%;
}

.login-form{
    width: 350px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
    position: relative;
    top: 50px;
}


.login-form input{
    width: 90%;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 10px;
}

input[type="submit"]{
    border: none;
    background-color: rgb(3, 166, 120);
    color: rgb(255, 255, 255);
}

input[type="submit"]:hover{
    background-color: rgb(38, 166, 91);
}


.logo{
    color: rgb(51, 51, 51);
}

.logo span{
    color: rgb(210, 77, 87);
}

.validation-summary-errors{
    color: rgb(210, 77, 87);
}

.field-validation-error{
    padding: 10px;
    display: block;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(214, 69, 65);
    width: 90%;
}

/*Login on mobile*/
@media (max-width: 497px){
    .login-form{
        width: 100%;
    }


}