body {
    
}
/*Kun for å dytte innhold ned fra header*/
.content-wrap{
    padding-top: 20px;
    padding-bottom:20px;
    height: auto;
}
#content-map{
    z-index: -1;
    width: 100%;
    height: 450px;
    border: none;
}