/*index*/
.article-wrapper{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-wrapper:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.image-section img{
    height: 200px;
    width: 100%;
}

.pushDown{
    padding-top: 20px;
    padding-bottom: 150px;
}

/*carousel*/
.carousel-wrap {
    width: 100%;
    height: auto;
    background-color: #eee;
}