/*index*/
.article-wrapper{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-wrapper:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #eee;
    color: rgb(226, 226, 226);
    cursor: pointer;
}

.title-section{
    color: rgb(71, 71, 71);
}

.image-section img{
    height: 200px;
    width: 100%;
}

.image-section img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image-section:hover img {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}

.pushDown{
    padding-top: 20px;
    padding-bottom: 150px;
}

.article-section{
    width: 70%;
    height: auto;
    float: left;
}

.sidebar-section{
    width: 25%;
    height: auto;
    float: left;
    margin: 20px 0px 0px 5%;
    background-color: rgb(236, 236, 236);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.sidebar-section .sidebar-header{
    width: 100%;
    height: auto;
    background-color: rgb(71, 71, 71);
    color: rgb(206, 206, 206);
    box-sizing: border-box;
}

.sidebar-section .lead{
    margin-bottom: 5px;
}

.sidebar-section .sidebar-header p {
    padding: 10px;
}

.sidebar-section .sidebar-body h3, p{
    /*The body section*/
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

.sidebar-section .sidebar-body{
    padding-bottom: 30px;
}

.sidebar-section .sidebar-body-section{
    /*inside the body section*/
    width: 100%;
    height: auto;

}

.sidebar-body-section .fb-page{
    width: 100%;
}

.sidebar-body-section .fb-page span{
    width: 100% !important;
    height: auto !important;
}

.sidebar-body-section .fb-page span iframe{
    width: 100% !important;
}


/*carousel*/
.carousel-wrap {
    width: 100%;
    height: 300px;
    background-color: #eee;
}

.go-to-button{
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 0px;
    background-color: rgb(206, 206, 206);
    color: rgb(255, 255, 255);
    display: block;
    padding: 13px;
    text-align: center;
    text-decoration: none;
}

.go-to-button:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 106, 0);
}