<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bpshopping.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bpshopping.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bpshopping</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bpshopping</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="byportenEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=46.226.13.53;Initial Catalog=byporten;Persist Security Info=True;User ID=Administrator;Password=AlfaRomeoGTV86" Name="server=46.226.13.53;user id=Administrator;password=AlfaRomeoGTV86;persistsecurityinfo=True;database=byporten" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Byporten.byportenEntities, Byporten" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)byportenEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ByportenModel.csdl|res://*/ByportenModel.ssdl|res://*/ByportenModel.msl;provider=MySql.Data.MySqlClient;provider connection string="server=46.226.13.53;user id=Administrator;password=AlfaRomeoGTV86;persistsecurityinfo=True;database=byporten"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>