@model IEnumerable<Byporten.availablepositions>

<div class="main-content">
    <div class="top-feed-header">
        <p><i class="fa fa-rss"></i> Siste 5 stillinger</p>
    </div>
    @foreach (var item in Model.Reverse().Take(5))
    {
        <div class="last-article-wrap">
            <div class="article-title">
                <h4>@Html.DisplayFor(model => item.Title)</h4>
            </div>
            <div class="article-content">
                @Html.DisplayFor(model => item.Description)
            </div>
        </div>
    }
</div>