@model IEnumerable<Byporten.createpost>

@{
    ViewBag.Title = "Forsiden | admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="padding-top: 50px;">
    <div class="jumbotron">
        <div class="container">
            <h2>Velkommen til Byportens administrasjonspanel!</h2>
            <p class="lead">Rediger, legg til og slett innhold!</p>
        </div>
    </div>
</div>

