@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="admin-header-bottom-wrap">
    <p class="lead">Velkommen til dette fantastiske dashboardet!</p>
    <span><i><span class="fa fa-pencil"></span> Administrer Byporten.no akkurat slik du vil</i></span>
    <span><b>Se alle @Html.ActionLink("artikler", "ViewAllArticles", "Admin")</b></span>
</div>

<div class="admin-index-content">
    <div class="container forside-container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="admin-info-box" id="box1">
                    <p class="lead">Some Content</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col">
                <div class="admin-info-box" id="box2">
                    <p class="lead">Some Content</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="admin-info-box" id="box3">
                    <p class="lead">Some Content</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col">
                <div class="admin-info-box" id="box4">
                    <p class="lead">Some Content</p>
                </div>
            </div>
        </div>
    </div>
</div>

