
@{
    ViewBag.Title = "Gavekort";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="container content-wrap">
    <a class="btn-saldo" href="https://nettbank.edb.com/Logon/index.jsp?s_id=ClosedLoop&amp;domain=4201&amp;from_page=http://www.smn.no&amp;to_page=https://nettbank.edb.com/cardpayment/transigo/card/prepaidoverview/transactionsClosedLoop">
        <span class=" fa fa-credit-card">
        sjekk din saldo!</span>
    </a>
    <hr />
    <div class="row content-divider">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <img class="img-responsive"src="~/images/web/gavekort-forside.png" />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <p class="lead">Gavekort</p>
            Byporten Shoppings gavekort får du kjøpt i Informasjonsskranken i plan 1, hverdager kl. 11-20 og lørdager kl. 12-19. 
            Gavekortet gjelder i alle senterets butikker og serveringssteder, og naturligvis også hos lege-/tannlegesenteret. 
            I tillegg til dette gjelder kortet også i alle KLPs kjøpesentre. Oversikt over disse finner du på klp.no
        </div>
    </div>
    <div class="row content-divider">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <img class="img-responsive"src="~/images/web/gavekort-bakside-kant.png" />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <p class="lead">Beløp</p>
            Du kan selv bestemme beløp på kortet, men minimumsbeløp er kr 100,-Gavekortet kan betales enten med vanlig bankkort eller kontanter. 
            Du betaler ikke gebyr ved kjøp av gavekort hos oss. Gavekortet er gyldig i 2-to år. 
            Tapt kort erstattes ikke, avmagnetisert kort erstattes mot gebyr kr 25,-
        </div>
    </div>
 </div>

