@model IEnumerable<Byporten.createpost>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container">

    @{
        int displayedArticles = 6;
    }

    @foreach (var item in Model.Reverse().Take(displayedArticles))
    {
        <div class="col-lg-4 col-md-6 col-sm-6 feed-entry">
            <div class="image-section">
                <img src="~/images/uploads/@Html.DisplayFor(modelItem => item.ImageURL)" class="img-thumbnail" />
            </div>
            <div class="title-section">
                <h5><span class="fa fa-pencil"></span> @Html.DisplayFor(modelItem => item.Title)</h5>
                @Html.ActionLink("Les mer", "viewArticle", new { id = item.Id })
            </div>
        </div>
    }
    <div class="col-lg-12" >
        <input type="button" class="btn btn-success" value="Show more articles" id="showMore" style="width: 100%"/> 
    </div>
</div> 

