@model IEnumerable<Byporten.availablepositions>
@using System.Linq
@{
    ViewBag.Title = "Stillinger";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<div class="container stilling-wrap">
    <h3 class="page-header lead">Ledige stillinger</h3>

    @if (!Model.Any())
    {
        <p class="lead">Det finnes for tiden ingen ledige stillinger!</p>
    }
    else
    {
        foreach (var position in Model.Reverse())
        {
                <a class="link" href="@Url.Action("viewPosition", new {id = position.Id })">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img src="~/images/positions/@Html.DisplayFor(modelItem => position.ImageURL)" alt="positionImage" />
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <p class="">@Html.DisplayFor(modelItem => position.Title)</p>
                        </div>
                    </div>
                </a>
        <hr />
        }
    }

    
    
</div>

