@model Byporten.createpost
@{
    ViewBag.Title = "Artikkel";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="container pushDown">
    <div class="row">
        <div class="col-lg-4 image-view">
            <img src="~/images/uploads/@Html.DisplayFor(model => model.ImageURL)" class="img-responsive uploaded-image" />
        </div>
        <div class="col-lg-8">
            <h1 class="page-header">@Html.DisplayFor(model => model.Title)</h1>
            <p>@Html.DisplayFor(model => model.Content)</p>
        </div>
    </div>
</div>

