<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/layout.css" rel="stylesheet" />

</head>
<body>
    <div>
        @RenderBody()
    </div>











    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery-1.11.2.intellisense.js"></script>
    <script src="~/Scripts/layout.js"></script>
</body>
</html>
